body {
    background-color: #12182B;
  }

.TitleDiv {
  text-align: center;
}

.TitleText {
    color: #ffffff;
}

body {
  background-color: #12182B;
}

.TitleDiv {
text-align: center;
}

.TitleText {
  color: #ffffff;
}

.topButtons {
background-color: #55BEC0;
  border-radius: 7px;
  font-weight: bold;
  margin: 20px auto;
  padding: 2px;
  margin-right: 0;
  height: 40%;
  width: 100%;
  text-align: center;
}

.topButtons:hover {
  background-color: #6DFFE7;
}

.welcome {
  font-weight: 400;
  color: white;
}

.topButtons:hover {
  background-color: #6DFFE7;
}

.welcome {
  font-weight: 400;
  color: white;
}