body {
  background-color: #12182B;
  max-height: 100vh;
}

.TitleDiv {
text-align: center;
}

.TitleText {
  color: #ffffff;
}

.topButtons {
  background-color: #55BEC0;
  border-radius: 7px;
  font-weight: bold;
  margin: 20px auto;
  padding: 2px;
  margin-right: 0;
  height: 60%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: black !important;
}


.currentPageButton {
  background-color: #6DFFE7;
  border-radius: 7px;
  font-weight: bold;
  margin: 20px auto;
  padding: 2px;
  margin-right: 0;
  height: 60%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: black;
}

.welcome {
  font-weight: 400;
  color: white;
}

.topButtons:hover {
  background-color: #6DFFE7;
}

.welcome {
  font-weight: 400;
  color: white;
  font-size: 20px;
}