.mediaPlayer {
  margin-top: 2%;
  align-items: "center";
  padding-left: 20vw;
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}

.webcamDiv {
  text-align: right;
  padding-top: 5%;
  margin-right: 20vw;
}

.exerciseBtnDiv{
  margin-left: 20%;
}

.countDownCol{
    color: #fff;
    font-size: 100px;
    font-weight: bold;
}

.workoutStartBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 6%;
  margin-bottom: 2%;
  padding-top: 1.25px;
  text-align: center;
  background-color: #8cc01e;
  width: 185px;
  height: 75px;
  color: #12182b;
  vertical-align: middle;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 10px;
}

.fillerDiv {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 6%;
    margin-bottom: 2%;
    padding-top: 1.25px;
    text-align: center;
    width: 185px;
    height: 75px;
    vertical-align: middle;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 10px;
  }

.workoutUploadBtn {
  position: absolute;
  bottom: 0;
  margin-bottom: 2%;
  right: 0;
  margin-right: 6%;
  margin-bottom: 2%;
  padding-top: 1.25px;
  text-align: center;
  background-color: #6dffe7;
  width: 185px;
  height: 75px;
  color: #12182b;
  vertical-align: middle;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 10px;
}

.workoutQuitBtn {
  margin-right: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 2%;
  padding-top: 1.25px;
  text-align: center;
  background-color: #c01e58;
  width: 185px;
  height: 75px;
  color: #12182b;
  vertical-align: middle;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 10px;
}
